.nav-link:hover {
    text-decoration: underline;
}

.carousel-item {
    height: 80vh;
    width: 100%;
}

h1 {
    font-family: 'Lobster', cursive;
}




  @media (max-width: 600px) {
    #C-Image2 {
      content: url('Images/C-Image2.jpg');
    }
    #C-Image3 {
        content: url('Images/C-Image3.jpg');
    }
    
  }

  h5 {
    font-family: 'Oswald', sans-serif;
  }

  